<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" #email>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <input type="text" class="form-control" id="link" #link>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addPost(email, link)">Submit</button>
 
</form>

<!--We have an array named Posts which stores all the post-->
<!--Now we will pass one post at a time to the post component ( using loop )-->
<!--Post component will take the input one by one and display the ui on the screen -->

<app-post *ngFor="let p of posts" [newPost]="p"></app-post>