<!-- The Form tag creates the form to accept user input -->

<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <!--The #email is called template reference variable-->
    <input type="text" class="form-control" id="title" #email>
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <input type="text" class="form-control" id="link" #link>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addPost(email, link)">Submit</button>
 
</form>

<!--We have an array named Posts which stores all the post that user created-->
<!--Now we will pass one post at a time to the post component ( using loop )-->
<!--This loop will use the post component multiple times with difrent post values -->
<!--Post component will return the ui with the passed in value -->

<app-post *ngFor="let p of posts" [newPost]="p"></app-post>